* {
box-sizing: border-box;
}
body {
font-family:sans-serif;
margin: 0;
}

header{
    display: flex;
	background-color:#EF5B25;
	justify-content: space-around;
	border-bottom: 1px solid wheat;
    height:75px;
    justify-content: space-around;
}
.row {  
	color:#EF5B25;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
  }
  
  .left {
	color:#424242;
	flex: 20%;
	background-color:wheat;
	padding: 20px;
  }

  .right {
	font-family: 'Poppins',sans-serif;
	flex: 80%;
	background-color: #424242;
	padding: 20px;
  }

.siteHeader{
    float: left;
    height:80%;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom:5px;
    color:white;
}
.right p{
    color:wheat;
    font-size:1.2rem;
}
p{
    color:#EF5B25;
    font-size: 1.8rem;
}
ul{
list-style-type:none;
}
li h4 {
    color:#EF5B25
}
li{
font-family: 'Dancing Script', cursive;
font-size: 1.3rem;
font-weight:italic;
}

.right h3{
/* font-family: 'Dancing Script', cursive; */
font-size: 1.5rem;
font-weight: italic;
}
a{
    color:inherit;
    text-decoration: none;
}
a:hover 
{
    color:#003366; 
    text-decoration:none; 
    cursor:pointer;  
}
.innercontent{
    height:130px;
    width:100%;
    background-color:wheat;
    border: 5px solid #EF5B25;
    border-radius: 5px;
    font-size: 1.5rem;
    color:#424242;
}
.buton{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.button {
    background-color:#EF5B25;
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border:none;
}
.button:active { 
    border:1px solid #003366;
} 
.dateButton {
    background-color:#EF5B25;
    color: white;
    text-align: center;
    padding: 15px 15px;
    font-size: 15px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border:none;
}
.dateButton:active { 
    border:1px solid #003366;
} 
.HumanToEpoc {  
	display: flex;
	flex-wrap: wrap;
}
.selector{
    display: flex;
    flex-wrap: wrap;
}
select{
    height:50px;
    width:110px;
    background-color:wheat;
    border: 5px solid #EF5B25;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    color:#424242;
}
/* .like{
    float: left;
    height:80%;
    color:white;
    padding-bottom:0.75%;
} 
i { 
    margin-top: 10px;
    margin-right:10px;
}  */
/* .contactDetails{
    width:40%;
    float: left;
    height:80%;
    font-size: 16px;
    margin:2px;
    color:white;
}


.container{
    width:100%;
    margin:10px;
    height:500px;
    
} */
/* .left{
    width:20%;
    height:100%;
    float:left;
    background-color:#e6f5ff;
    margin-left: 40px;
}
.right{
    width:70%;
    height:100%;
    float:left;
    background-color: #ebf4fa;
    margin-left:10px;
    padding:5px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    color: #3399ff;

} */
/* .title{
    font-weight: bold;
    color:#003366;
    line-height: 1px;
}
ul {
    font-weight: normal;
    list-style-type: none;
}
li{
  font-style: italic;
  color: #3399ff;
  font-family: Georgia, 'Times New Roman', Times, serif;  
}

hr{
    border-top: 1px solid #3399ff;
} 
.content{
    height:40%;
    background-color:white;
    border-radius: 15px
}


#outputdiv{
    visibility:hidden;
}
.rgbtohex{
    height:20%;
    width:30%;
    float: left;
    display:block;
    margin:10px;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
}
#red{
    background-color: #ffcccc;
}
#green{
    background-color: #e6ffe6;
}
#blue{
    background-color: #e6fffa;
} */

@media screen and (max-width: 600px) {
	.row{   
	  flex-direction: column;
	}
}